th, td {
  padding: 0.5rem;
  text-align: center;
  alignment: center;
  width: 16%;
}

th {
  font-weight: normal;
}

tr, th {
  display: flex;
  flex-wrap: wrap;
}

table {
  width: 80%;
  border-spacing: 0.5rem;
}

p {
  margin: 1rem;
  color: #f9fffb;
}

a {
  color: darkred;
}

.footer-header-box {
  border-color: #575759;
  border-width: 2px;
  border-style: solid;
  background: #255b17;
}

.content-box {
  margin: 1rem;
  background: #999999;
  alignment: center;
}