th, td {
  padding: 0.5rem;
  text-align: center;
  alignment: center;
  width: 16%;
}

th {
  font-weight: normal;
}

tr, th {
  display: flex;
  flex-wrap: wrap;
}

table {
  width: 80%;
  border-spacing: 0.5rem;
}